@page "/contacts"
<h3>Contacts</h3>

<form action="https://formspree.io/f/meoqqlkq" method="POST">
	<label>
		Your email:<br />
		<input type="email" name="email">
	</label>
	<br /><br />
	<label>
		Your message:<br />
		<textarea name="message"></textarea>
	</label><br />
	<!-- your other form fields go here -->
	<button type="submit">Send</button>
</form>

@code {

}
